
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");

:root {
    --font-family-body: "Poppins", sans-serif;
    --cor-fundo-body: #E7FBEF;

    --cor-botao-fundo: #4e77d1;
    --cor-botao-texto: #ffffff;
    --cor-botao-hover-fundo: #3d57af;
    --cor-botao-hover-texto: #ffffff;
    --botao-border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo-body);
    font-family: var(--font-family-body);
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

h1 {
    color: #916666;
}


.contador {
    font-size: 2rem;
    font-weight: 600;
    color: #916666;
}

.botoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.botao {
    max-width: 140px;
    padding: 8px 0;          
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: var(--cor-botao-fundo);
    color: var(--cor-botao-texto);
    border-radius: var(--botao-border-radius);
    transition: all 0.3s ease;
}

.botao:hover {
    background-color: var(--cor-botao-hover-fundo);
    color: var(--cor-botao-hover-texto);
    transform: translateY(-1px);
}


.botao-reset {
    max-width: 80px;      
    padding: 6px 0;         
    font-size: 0.85rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: var(--cor-botao-fundo);
    color: var(--cor-botao-texto);
    border-radius: var(--botao-border-radius);
    transition: all 0.3s ease;
}

.botao-reset:hover {
    background-color: var(--cor-botao-hover-fundo);
    color: var(--cor-botao-hover-texto);
    transform: translateY(-1px);
}

button:focus-visible {
  outline: 3px solid var(--cor-botao-fundo);
  outline-offset: 3px;
}


@media (max-width: 480px) {
    .contador {
        font-size: 2.4rem;
    }

    .botao {
        width: 100%;
        max-width: 130px;
        padding: 10px 0;
        font-size: 1rem;
    }

  .botao-reset {
    width: 80%;
    max-width: 80px;
    padding: 6px 0;
    font-size: 0.75rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .botao {
    width: 130px;
    padding: 10px 0;
    font-size: 1rem;
  }

  .botao-reset {
    width: 80px;
    padding: 6px 0;
    font-size: 0.95rem;

  }
}

@media (min-width: 1025px) {
  .botao {
    width: 130px;
    padding: 10px 0;
    font-size: 1rem;
  }

  .botao-reset {
    width: 80px;
    padding: 6px 0;
    font-size: 0.95rem;
  }
}


